--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0
torchvision==0.23.0
clearml==1.16.4
transformers==4.50.0
tokenizers>=0.21,<0.22
accelerate>=0.34.0
safetensors>=0.4.5
sentencepiece>=0.2.0
protobuf>=4.25.3
bitsandbytes>=0.46.1
huggingface_hub>=0.26.0,<1.0
hf-transfer>=1.4.3
datasets>=2.16.1
pillow>=10.3.0
numpy>=1.26.4
pandas>=2.2.2
tqdm>=4.66.4
boto3>=1.34.0
pyarrow>=14.0.1
